
.chat {
  width: 50%;
  min-height: 50vh;
  max-height: 50vh;
  overflow: scroll;
  border: 6px solid rgb(22, 137, 214);
  text-align: center;
  background-color: bisque;
  margin: 30px;
}
.contenido{
  justify-content: center;
  margin: 50px;
  display: flex;
}
.fromis{
  margin: 30px;
}
.fomis{
  background-color: rgba(174, 22, 205, 0.684);
  text-align: center;
  border: 6px solid rgb(22, 214, 150);
}
